*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
   
}

.CPDataTable table{
  border-collapse: collapse;
  border: 1px solid;
  width: 100%;
   
  
}
.CPDataTable table td, th {
  border: 1px solid #ccc; /* Add a border to each cell */
  padding: 8px; /* Add padding for cell content */
  text-align: left; /* Align text to the left */
}
 
.text {
  border: 1px solid  black; /* Add a border to each cell */
  padding: 8px; /* Add padding for cell content */
  text-align: left; /* Align text to the left */
}
.CPDataTable input.Search-bar {
  display: block;
  padding: 10px;
  font-size: 12px;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 15px;
color: black;

}
.Search-bar{
  color: white;
}
.CPDataTable{
  max-width: 950px;
  margin: 90px auto;
}
.CPDataTable table td{
  padding: 10px 15px;
}
.CPDataTable footer{
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
   
 
.CPDataTable footer button{
background: rgb(63, 44, 44);
border: 1px solid rgb(114, 61, 61);
padding: 3px;
 cursor: pointer;
 color: white;
}
.CPDataTable table td div{
  background:none;
  border: 10px solid ;
  font-weight: bold;
  color: white;
}
